<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensor_r430">

    <!-- Properties -->
    <!-- Properties for base link -->    
    <xacro:property name="cyl_mass" value="0.05"/>
    <xacro:property name="cyl_r" value="0.1"/>
    <xacro:property name="cyl_l" value="0.05"/>
    <xacro:property name="prefix_name" value="pc_cam"/> <!-- shared prefix for camera -->    
    <!-- Properties for camera link -->        
    <xacro:property name="base_link_name" value="${prefix_name}_base_link"/>
    <xacro:property name="prefix_topic_name" value="front_rgbd_camera"/>
    <xacro:property name="z_offset" value="1.2"/>
    <xacro:property name="pitch" value="0.523599"/>

    <!-- Math Usefull MACROS-->
    <xacro:macro  name="cylinder_inertia" params="mass r l">
      <inertia  ixx="${mass*(3*r*r+l*l)/12}" ixy = "0" ixz = "0"
                iyy="${mass*(3*r*r+l*l)/12}" iyz = "0"
                izz="${mass*(r*r)/2}" />
    </xacro:macro >

    <!-- XACRO for includes -->
    <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro"/>

    <!-- base link -->
    <link name="world">
    </link>
        
    <link name="${base_link_name}">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="${cyl_mass}" />
                <xacro:cylinder_inertia mass="${cyl_mass}" r="${cyl_r}" l="${cyl_l}"/>                
            </inertial>    
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="${cyl_r}" length="${cyl_l}"/>
                </geometry>
            </collision>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="${cyl_r}" length="${cyl_l}"/>
                </geometry>
            </visual>
        </link>
        
        
        <joint name="fixed" type="fixed">
            <parent link="world"/>
            <child link="${base_link_name}"/>
        </joint>

    <!-- XACRO Intel R430 --> <!--xacro:macro name="sensor_r430" params="prefix parent prefix_topic:='front_rgbd_camera' *origin"-->
    <xacro:sensor_r430 prefix="${prefix_name}" parent="${base_link_name}" prefix_topic="${prefix_topic_name}">
      <origin xyz="0 0 ${z_offset}" rpy="0 ${pitch} 0" />
    </xacro:sensor_r430>

    

</robot>
